/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1 {
	text-align: center;
}



/* fonts for page */

@font-face {
  font-family: playfair;
  src: url("./fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf");
}

html {
  font-family: arial;
}

p, li, ul, ol{
	font-family: playfair;
}

@font-face {
  font-family: DMSans;
  src: url("./fonts/Dm_Sans/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf");
}

p, li, ul, ol{
	font-family: DM_Sans;
}



/* Working on the links  */

/* not visited yet*/
a:link {
color: #A24857;
}

/* visited link*/
a:visited {
color:#9D00FF;
}

/* mouse over link */
a:hover {
color:#0000FF;
}






































