html {
  font-family: sans-serif;
}

/* Your CSS below here */

div{
	width: 200px;
	height: 150px;
	border: 1px #006400;
	border-radius: 30px;
	margin: auto;
	vertical-align: center;
	color: white;
	background-color: #408000;
	line-height:160px;
	text-align:center;
	font-size:18px;
	text-shadow: 2px 2px 2px black;
	
}
