html {
  font-family: sans-serif;
}

/* Your CSS below here */

div{
	width: 200px;
	height: 150px;
	border: 5px solid black;
	margin: auto;
	vertical-align: center;
	color: white;
	background-color: green;
	line-height:160px;
	text-align:center;
	
}
